@use 'sass:string';

@import '../data/tokens';
@import 'reset';

// Import utilities.
@import '../utilities/wrapper';
@import '../utilities/when-js';

:root {
  --color: #{string.unquote(map-get($tokens, 'colors', 'charcoal'))};
  --color-background: #{string.unquote(map-get($tokens, 'colors', 'porcelain'))};
  --color-text-link: #{string.unquote(map-get($tokens, 'colors', 'mineral'))};;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #{string.unquote(map-get($tokens, 'colors', 'porcelain'))};
    --color-background: #{string.unquote(map-get($tokens, 'colors', 'charcoal'))};
    --color-text-link: #{string.unquote(map-get($tokens, 'colors', 'lightgreen'))};;
  }
}

body {
  font-family: string.unquote(map-get($tokens, 'fonts', 'base'));
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: var(--color-background);
  color: var(--color);
}

a {
  color: var(--color-text-link);
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.05em;

  &:visited {
    color: currentColor;
  }

  &:hover {
    text-decoration-thickness: 0.15em;
    color: var(--color-text-link);
    text-decoration-color: var(--color-text-link);
  }
}

main {
  padding: 1.5rem 0;
}

.wrapper > * + *,
article > * + * {
  margin-top: 1.5rem;
}

p:first-of-type {
  font-size: 1.25em;
}

h1 {
  margin-bottom: 1.5em;
  border-bottom: 1px solid var(--color);
}

h2 {
  clear: left;
}
