{% set assetHash = global.randomHash() %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    {% include 'partials/head/meta/top.html' %}
    {% include 'partials/head/title.html' %}
    {% include 'partials/head/meta/description.html' %}
    {% if env.isProduction %}
      <link rel="canonical" href="https://{{ site.domain }}/">
      <link rel="manifest" href="/manifest.webmanifest" />
    {% endif %}
    {% include 'partials/head/theme.html' %}
    {% include 'partials/head/icons.html' %}
    {% include 'partials/head/styles/critical.html' %}
    {% include 'partials/head/styles/deferred.html' %}
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    <main>
      {% block content %}{% endblock %}
    </main>
    {% if env.isProduction %}
      {% include 'partials/body/analytics.html' %}
      {% include 'partials/body/service-worker.html' %}
    {% endif %}
  </body>
</html>
