<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ head.title | striptags }} | adam.page</title>
    <meta name="description" content="{{ head.meta.description | striptags }}" />
    <link rel="icon" href="/assets/images/icons/favicon.svg?v1" type="image/svg+xml" />
  </head>
  <body>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
