<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/head/meta/top.html'  %}
    {% include 'partials/head/title.html'  %}
    {% include 'partials/head/meta/description.html'  %}
    {# <!-- TODO: There must be a better way to render conditional  --> #}
    {# <!-- template markup per environment.  --> #}
    {% if env.nodeEnv === 'production' %}
      <link rel="canonical" href="https://{{ site.domain }}/">
      <link rel="manifest" href="/manifest.webmanifest" />
    {% endif %}
    {% include 'partials/head/theme.html'  %}
    {% include 'partials/head/icons.html'  %}
    <style>{% include "css/critical.css" %}</style>
  </head>
  <body>
    <main>
      {% block content %}{% endblock %}
    </main>
    {% if env.nodeEnv === 'production' %}
      <script async defer data-domain="{{ site.domain }}" src="https://analytics.{{ site.domain }}/js/plausible.js"></script>
      {% if analytics %}
        <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
        <script>
          plausible("{{ analytics.goal }}",{ props: {
            {%- for name, value in analytics.props -%}
              {{ name }}: {{ value }}{% if not loop.last %},{% endif %}
            {%- endfor -%}
          }});
        </script>
      {% endif %}
      <script>
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
      </script>
    {% endif %}
  </body>
</html>
