{% set scene = artwork.pixelScenes.scenes[site.defaults.pixelScene] %}
{% set sceneSpec = artwork.pixelScenes.helpers.getSceneSpec(scene) %}
{% set colorsByToken = sceneSpec.colorsByToken %}
{% set tokensByColor = sceneSpec.tokensByColor %}
{% set pixelSize = scene.info.pixelSize %}
{% set width = scene.info.stage.width * pixelSize %}
{% set height = scene.info.stage.height * pixelSize %}

<figure class="[ pixel-scene ]">
  <noscript>
    <img src="/assets/images/svg/pixel-scene.svg?{{ assetHash }}" alt="{{ scene.info.name }}" width="{{ width }}" height="{{ height }}" />
  </noscript>
  <div class="[ pixel-scene__dynamic ] [ when-js ]">
    {# <!-- TODO: Add pause, resume, kill capabilities --> #}
  </div>
</figure>

<script>

  const xmlns = 'http://www.w3.org/2000/svg';
  const pixelScene = document.querySelector('.pixel-scene__dynamic');
  const pSize = {{ pixelSize }};
  const reTokenEmpty = new RegExp('{{ sceneSpec.charEmpty }}', "g");

  // Unique color variables.
  const {% for token, colorValue in colorsByToken %}
    {{ token }}="{{ colorValue }}"{% if not loop.last %},{% endif %}
  {%- endfor -%};

  // Create svg element.
  let svgElem = document.createElementNS(xmlns, "svg");
  let svgChildren = [];
  svgElem.setAttributeNS(null, 'width', '{{ width }}');
  svgElem.setAttributeNS(null, 'height', '{{ height }}');
  svgElem.setAttributeNS(null, 'viewbox', '0 0 {{ width }} {{ height }}');
  svgElem.setAttributeNS(null, 'shape-rendering', 'crispEdges');

  // Create svg’s title element.
  let titleElem = document.createElementNS(xmlns, "title");
  titleElem.textContent = '{{ scene.info.name }}';
  svgChildren.push(titleElem);

  // Create empty dictionary for sprites
  let sprites = {};

  // Collect sprite data.
  {%- for spriteSpec in sceneSpec.spriteSpecs -%}

    {% set sprite = scene.sprites[spriteSpec.slug] %}

    sprites['{{ spriteSpec.slug }}'] = {
      'info': {
        'origin': {
          'x': {{ sprite.info.origin.x }},
          'y': {{ sprite.info.origin.y }}
        }
      },
      'rectMatrix': [
        {%- for row in spriteSpec.rectMatrix %}
          [ {% for pixelToken in row %}{{ pixelToken }}{% if not loop.last %},{% endif %}{% endfor %} ]{% if not loop.last %},{% endif %}
        {%- endfor %}
      ],
      'classPrefix': '{{ spriteSpec.classPrefix }}',
      'animatedPixels': {
        {%- for pixelSlug, sequenceIndex in spriteSpec.animatedPixels -%}
          '{{ pixelSlug }}': {{ sequenceIndex}}{% if not loop.last %},{% endif %}
        {%- endfor %}
      }
    }
  {%- endfor %}

  Object.entries(sprites).forEach(([slugSprite, sprite]) => {

    sprite.rectMatrix.forEach((row, y) => {

      // Create an svg group element to contain a row of sprite pixels.
      let rowElem = document.createElementNS(xmlns, "g");
      rowElem.classList.add('row');

      row.forEach((colorVar, x) => {

        // Only create a rect if the pixel is colored (or will become colored
        // through animation).
        if (colorVar.length) {

          // Calculate pixel’s position on the scene stage.
          let pX = (x + sprite.info.origin.x) * pSize;
          let pY = (y + sprite.info.origin.y) * pSize;

          // Create a rect element to represent a colored sprite pixel.
          let p = document.createElementNS(xmlns, "rect");
          p.setAttributeNS(null, 'fill', colorVar);
          p.setAttributeNS(null, 'x', pX);
          p.setAttributeNS(null, 'y', pY);
          p.setAttributeNS(null, 'width', pSize);
          p.setAttributeNS(null, 'height', pSize);

          // If this pixel animates, give it a class corresponding to its
          // color sequence.
          const pixelSlug = `${x},${y}`;
          if (sprite.animatedPixels.hasOwnProperty(pixelSlug)) {
            sequenceIndex = sprite.animatedPixels[pixelSlug];
            className = sprite.classPrefix + sprite.animatedPixels[pixelSlug];

            p.setAttribute('class', className);
          }

          // Add this pixel to the row.
          rowElem.appendChild(p);
        }
      });

      // Only push the row element if it contains children.
      if (rowElem.hasChildNodes()) {
        // Add row to svg children elements.
        svgChildren.push(rowElem);
      }
    });
  });

  // Append svg’s children elements.
  svgChildren.forEach(child => {
    svgElem.appendChild(child);
  });

  // Append svg to pixel scene parent element.
  pixelScene.append(svgElem);

</script>
