---

permalink: manifest.webmanifest

---
{
  "name": "{{ site.name }}",
  "short_name": "{{ site.domain }}",
  "icons": [
    {
      "src": "/assets/images/icons/favicon-android-chrome-192x192.png",
      "sizes": "192x192",
      "type": "image/png",
      "purpose": "any maskable"
    },
    {
      "src": "/assets/images/icons/favicon-android-chrome-512x512.png",
      "sizes": "512x512",
      "type": "image/png",
      "purpose": "any maskable"
    }
  ],
  "start_url": "/",
  "scope": "/",
  "background_color": "{{ tokens.colors.porcelain }}",
  "theme_color": "{{ tokens.colors.mineral }}",
  "display": "minimal-ui"
}
